#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.card{
  background-color:beige;
  box-shadow: 2px 02px 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
}
.headerDiv, .footerDiv{
  background-color: rgb(17, 17, 17);
  color: white;
  width: 100%;
}
#likeImage{
  height: 350px;
}

.footerDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
}
.headerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.click{
  cursor: pointer;
}
.danger{
  color: crimson;
}

.icon{
color: yellow;
padding: 15px;
font-size: 2rem;
}
.mr-1{
margin-right: 5px;
}
.mr-2{
margin-right: 10px;
}
.mr-3{
margin-right: 15px;
}
.fs-1{
  font-size:small;
}
.fs-2{
  font-size:medium;
}
.fs-3{
  font-size:large;
}


